[LootLockerSettings]
; You can get your api key from https://console.lootlocker.com/settings/api-keys
api_key="prod_315f351de7474f4b92dd307c55825de5"
; You can get your domain key from https://console.lootlocker.com/settings/api-keys
domain_key="zspv5v9n"
; The game version must follow a semver pattern. Read more at https://semver.org/
game_version="2.1.1.4"
; The configured Log Level for LootLocker, Set to "None" to silence LootLocker logs completely
; Possible values are: "Debug", "Verbose", "Info", "Warning", "Error", "None"
logLevel="Info"
